/*
Foto de fundo em 100%

Compativel com:
	Safari 3+
	Chrome
	IE 9+
	Opera 10+
	Firefox 3.6+
*/
html {
	background: url(../img/city-street-wallpaper.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	color: #fff;
	background: transparent;
	position: relative;
}

nav.navbar {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #9EBDC0),
		color-stop(0.55, #66979C)
	);
	background-image: -o-linear-gradient(bottom, #9EBDC0 0%, #66979C 55%);
	background-image: -moz-linear-gradient(bottom, #9EBDC0 0%, #66979C 55%);
	background-image: -webkit-linear-gradient(bottom, #9EBDC0 0%, #66979C 55%);
	background-image: -ms-linear-gradient(bottom, #9EBDC0 0%, #66979C 55%);
	background-image: linear-gradient(to bottom, #9EBDC0 0%, #66979C 55%);
	border-bottom-color: #006a74;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
	color: #e1e1e1;	
}

form legend {
	color: #fff;
}

#success_message{ display: none;}

#content{
	position: absolute;
	top: 65px;
	right: 0;
	left: 0;
	bottom: 60px;
	overflow: auto;
}

.footer{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	text-align: center;
}

.centralized {
	text-align: center;
}