/*
Foto de fundo em 100%

Compativel com:
	Safari 3+
	Chrome
	IE 9+
	Opera 10+
	Firefox 3.6+
*/
html {
	background: url(../img/city-street-wallpaper.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	color: #fff;
	background: transparent;
}

nav.navbar {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #9EBDC0),
		color-stop(0.55, #66979C)
	);
	background-image: -o-linear-gradient(bottom, #9EBDC0 0%, #66979C 55%);
	background-image: -moz-linear-gradient(bottom, #9EBDC0 0%, #66979C 55%);
	background-image: -webkit-linear-gradient(bottom, #9EBDC0 0%, #66979C 55%);
	background-image: -ms-linear-gradient(bottom, #9EBDC0 0%, #66979C 55%);
	background-image: linear-gradient(to bottom, #9EBDC0 0%, #66979C 55%);
	border-bottom-color: #006a74;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
	color: #e1e1e1;	
}

.footer{
    bottom: 5px;
    width: 500px;
    left: calc(50vw - 250px);
    position: absolute;
}

#content{
    margin-top:65px;
}