<form class="form-horizontal" action="/painel/carros" method="post"  id="contact_form">
<fieldset>

	<!-- Select Basic -->
	   
	<div class="form-group"> 
	  <label class="col-md-4 control-label">Carro</label>
		<div class="col-md-4 selectContainer">
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
		<select name="carros" class="form-control selectpicker" >
			<option value="0">Novo</option>
			{{#carros}}
			<option value="{{id}}">{{modelo}}</option>
			{{/carros}}
		</select>
	  </div>
	</div>
	</div>

	<!-- Text input-->
	<div class="form-group">
		<label class="col-md-4 control-label">Modelo</label>  
		<div class="col-md-4 inputGroupContainer">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
				<input  name="modelo" placeholder="Modelo" class="form-control"  type="text">
			</div>
		</div>
	</div>
	
	<!-- Button -->
	<div class="form-group">
		<label class="col-md-4 control-label"></label>
		<div class="col-md-4">
			<button type="submit" class="btn btn-warning"  name="acao" value="adicionar">OK <span class="glyphicon glyphicon-plus"></span></button>
		</div>
	</div>
	
	<!-- Button -->
	<div class="form-group">
		<label class="col-md-4 control-label"></label>
		<div class="col-md-4">
			<button type="submit" class="btn btn-danger" name="acao" value="remover">Remover <span class="glyphicon glyphicon-plus"></span></button>
		</div>
	</div>

</fieldset>
</form>