<h1 class="centralized">{{titulo}}</h1>

<form class="form-horizontal" action="{{login_url}}" method="post"  id="contact_form">
<fieldset>

	<!-- Text input-->
	<div class="form-group">
		<label class="col-md-4 control-label">Login</label>  
		<div class="col-md-4 inputGroupContainer">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				<input  name="login" placeholder="Login" class="form-control"  type="text">
			</div>
		</div>
	</div>

	<!-- Password input-->
	<div class="form-group">
		<label class="col-md-4 control-label">Senha</label>  
		<div class="col-md-4 inputGroupContainer">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
				<input name="password" placeholder="Senha" class="form-control"  type="password">
			</div>
		</div>
	</div>
	
	<!-- Button -->
	<div class="form-group">
		<label class="col-md-4 control-label"></label>
		<div class="col-md-4">
			<button type="submit" class="btn btn-warning" >{{enviar_texto}} <span class="glyphicon glyphicon-send"></span></button>
		</div>
	</div>

</fieldset>
</form>